.landing {
  background-color: #e3fdfd;
  display: flex;
  flex-direction: column;
  font: "Roboto", sans-serif;

  .aboutme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    min-height: 100vh;

    &-content-left,
    &-content-right {
      flex: 1;
      padding: 20px;
    }

    &-title {
      font-size: 5rem;
      font-weight: bold;
      margin-bottom: 15px;
      text-align: center;
    }

    &-details {
      font-size: 1rem;
      line-height: 1.6;
      margin-bottom: 20px;
      text-align: center;
    }

    &-contact {
      display: flex;
      margin-top: 50px;
      justify-content: space-evenly;
    }

    .aboutme-image {
      text-align: center;
      img {
        border-radius: 10px;
      }
    }
  }

  .education {
    min-height: 100vh;
    background-color: #a6e3e9;
  }

  .projects {
    min-height: 100vh;
  }

  .contact {
    min-height: 100vh;
    background-color: #a6e3e9;
  }
}
