.landing {
  background-color: #e3fdfd;
  display: flex;
  flex-direction: column;

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;

    &-logo {
      font-size: 2rem;
      font-weight: bold;
    }

    &-links {
      display: flex;
      gap: 20px;
      cursor: pointer;

      a {
        color: black;
        font-size: 1.2rem;
        text-decoration: none;
        position: relative;
        display: inline-block;

        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 2px;
          bottom: 40%;
          left: 0;
          background-color: black;
          transition: width 0.3s ease-in-out;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  .aboutme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    min-height: 90vh;

    &-content-left,
    &-content-right {
      flex: 1;
      padding: 20px;
    }

    &-title {
      font-size: 5rem;
      font-weight: bold;
      margin-bottom: 15px;
      text-align: center;
    }

    &-details {
      font-size: 1.1rem;
      line-height: 1.6;
      margin-bottom: 20px;
      text-align: center;
    }

    &-contact {
      display: flex;
      margin-top: 50px;
      justify-content: space-evenly;
    }

    &-buttons {
      display: flex;
      gap: 50px;
      justify-content: center;
      margin-top: 50px;

      button {
        background-color: #a6e3e9;
        border: none;
        border-radius: 5px;
        color: black;
        cursor: pointer;
        font-size: 1.2rem;
        padding: 10px 20px;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &-image {
      text-align: center;
      img {
        border-radius: 10px;
      }
    }
  }

  .education {
    min-height: 100vh;
    background-color: #a6e3e9;
  }

  .projects {
    min-height: 100vh;
  }

  .contact {
    min-height: 100vh;
    background-color: #a6e3e9;
  }
}
